# ide
/.idea/
/.vscode/

# castor
.castor.stub.php

/.castor/git-frozen-exclude.php
/.castor/git-frozen-sync.php

# claude
.claude/
/CLAUDE.md

# qa
/.php-cs-fixer.php
/.php-cs-fixer.cache

/.phpunit.cache
/.phpunit.result.cache
/phpunit.xml

/phpstan.neon

# env vars
/.env

# libraries
/vendor/

# misc
/TODO.md
